
header{
    text-align: center;   
    height: 90px;
}
#naranjo{
    color: #c78c19;
}
.item a:hover{
    border-color: #c78c19;

}

/*aqui se le dio formato a la clase de la Ul */
.productos{
    width: 80%;
    position: relative;
    margin: 45px auto;
    padding: 60px;
    display: flex;
    
    
}
/*aqui se le dio formato a la clase de los li de las ul*/
.productos-li{
    display: inline-block;
    text-align: center;
    width: 30%;  
    vertical-align: top; 
    padding:30px 25px ;    
    margin: 0 auto;        
    border: 2px solid #000000;
    border-radius: 10px;
}
.productos-li:hover{
    border-color: #c78c19;
    
    
}
.productos-li:active{
    border-color: #088c19;
    
}
/*estilo del encabezado de los productos*/
.productos h2{
    font-size: 30px;
    font-weight: bold;    
}
.productos-li:hover h2{
    font-size: 31px;
}
.producto-descripcion{
    font-size: 18px;
}
.producto-precio{
    font-size: 18px;
    font-weight: bold;
    
}


  

footer{
    text-align: center;
    background: #c78c19;
    padding: 15px;
}

.copyright{
    font-size: 13px;

}


  
